<form #editorcibo="ngForm" style="max-width: 500px;width: 50%;margin: 0 auto;" (ngSubmit) = "addCibo(editorcibo)">
  <div class="form-group">
    <label for="nomecibo"><strong>Nome cibo</strong></label>
    <input ngModel required type="text" class="form-control" id="nomecibo" placeholder="Inserisci nome del cibo" name="nomecibo">
  </div>
  <div class="form-group">
    <label for="tipocibo">Tipo di cibo: </label>
    <select ngModel required class="form-control" id="tipocibo" name="tipocibo">
      <option value="Antipasto">Antipasto</option>
      <option value="Primo">Primo</option>
      <option value="Secondo">Secondo</option>
      <option value="Contorno">Contorno</option>
      <option value="Dolce">Dolce</option>
    </select>
  </div>
  <div class="form-group">
    <label for="calor">Calorie</label>
    <input ngModel required type="number" class="form-control" name="calor" id="calor" placeholder="Inserisci calorie del cibo">
  </div>
  <button class="btn btn-primary" type="submit">Salva ed esci</button>
</form>
