<div>
  <h3 class="alert">Seleziona dalla lista un cibo da rimuovere</h3>
  <form #selecibo="ngForm" style="max-width: 500px;width: 50%;margin: 0 auto;" (ngSubmit) = "deleteCibo(selecibo)">
    <select ngModel required class="form-control" id="idcibo" name="idcibo">
      <option *ngFor="let food of listfoods" value="{{food.id}}">{{food.name}}</option>
    </select>
    <br>
    <div class="centerdiv">
      <button class="btn btn-danger" type="submit">Rimuovi per sempre</button>
    </div>
  </form>
</div>
