.homecontents {
    width: 100%;
    padding: 20px;
    height: 100vh;
}

.welcometext {
    margin-top: 70px;
    color: aliceblue;
    text-align: center;
    font-size: 96;
    font-weight: 900;
}

.customCard {
    padding-top: 20px;
    width: 1200px;
    margin: 0 auto;
}